@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'), local('Framework7Icons-Regular'), url("../fonts/Framework7Icons-Regular.woff2") format("woff2"), url("../fonts/Framework7Icons-Regular.woff") format("woff"), url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons,
.framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

body {
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
}

.card-title {
    font-size: 3vh;
    padding: 6px;
    font-weight: bold; 
    margin-top: -1.5vh;
}

.navbar, .subnavbar {
    background-image: url('../img/navbar_bg.png');
    background-size: cover;
    color: white;
}

.navbar span, .navbar .f7-icons {
    color: white;
}

.toolbar {
    background: rgba(0, 0, 0, 0.88) !important;
    height: 9.5vh;
}

.toolbar-text {
    font-size: 20px !important;
    color: white;
    font-family: Microsoft JhengHei;
    letter-spacing: 3px;
}

.toolbar-inner>.button {
    border: initial;
}

.toolbar-text>.toolbar-icon {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    font-size: 22px;
}

.center {
    text-align: center;
}

.high-button {
    height: 48vh !important;
    margin-top: 5vh;
    margin-bottom: -3vh;
}


/*  index.html  */

.themePark, .routeButtonList {
    display: table-row;
}

.routeButtonList {
    height: 100%;
}

.routeButtonList > div {
    background-image: url('../img/recommend-button.png');
    background-size: 100% 100%;
    height: 49.5%;
    position: relative;
}

#themeRouteBtn > div , #customRouteBtn > div {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 6vw;
    font-weight: bold;
}

.heartIcon {
    width: 17%;
    vertical-align: middle;
}

/*  themeRoute.html  */

.big-card {
    width: 100%;
    padding: initial;
    margin: 0 auto;
}


/*  customRoute.html  */

.favorite-cards {
    width: 100%;
    padding: initial;
    margin: 0 auto;
}

.swipeout>.card {
    margin: 2px !important;
}

.swipeout-actions-right {
    height: 97% !important;
    top: 2% !important;
}

.favorite-cards>.list-block {
    margin: 0px;
}

.favorite-tab {
    text-align: center;
    color: white;
    font-size: 2.5vh;
    height: 4.5vh;
    line-height: 4.5vh;
    background-color: purple;
    background-image: url('../img/navbar_bg.png');
    background-size: cover;
}

.list-block .swipeout-actions-right a.swipeout-delete {
    background: #8a9bdb !important;
}

/* routeDetail.html  */

.accordion-item>.item-link {
    padding-left: 0;
    background-image: url('../img/accordion-bar.png');
    background-size: cover;
}

.accordion-item>.item-content {
    padding-left: 0;
    background-image: url('../img/accordion-time-bar.png');
    background-size: cover;
}

.accordion-item>.item-link>.item-inner {
    padding-right: 0px;
    background-image: initial;
}

.accordion-item>.item-link>.item-inner>.item-title,
.accordion-item>.item-content>.item-inner>.item-title {
    margin: 0 auto;
    color: white;
}

.content-block>.content-block>.content-block-inner>p {
    margin: 0.3em 0;
}

.title-img {
    width: 100%;
}


/*  gamePage.html  */

.level>p>span,
.reward>span {
    color: white;
    font-weight: bold;
}

.options {
    margin-top: 4vh;
    text-align: center;
}

.options>.button {
    height: 10vh;
    line-height: 9.5vh;
    margin-top: 1.5vh;
    color: black;
    font-size: 3.6vh;
    font-weight: bold;

    background-image: url('../img/answer-button.png');
    background-size: 100% 100%;
}

.level>p>span {
    display: inline-block !important;
    vertical-align: middle;
    font-size: 2.4vh;
}

.level>p>.progressbar {
    width: 20vw;
    height: 1.6vh;
    margin-left: 8px;
}

.progressbar span {
    background: #d8427a !important;
}

.question {
    height: 16vh;
    margin: 0 auto;
    margin-top: 4vh;
    background-color: white;
    width: 100%;
    font-weight: bold;
    color: black;
}

.answer > svg {
    width: 6vh;
    display: inline-block;
    margin-top: 2vh;
    position: absolute;
    right: 10px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-width:7.5;
}

.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.loading span {
    animation-name: blink;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

.loading span:nth-child(4) {
    animation-delay: .6s;
}

.loading span:nth-child(5) {
    animation-delay: .8s;
}

.loading span:nth-child(6) {
    animation-delay: 1s;
}

.loading span:nth-child(7) {
    animation-delay: 1.2s;
}

.loading span:nth-child(8) {
    animation-delay: 1.4s;
}

.loading span:nth-child(9) {
    animation-delay: 1.6s;
}
/*  themeSite.html  */
.button.active {
    background: none;
}

.subnavbar {
    padding: 0;
}

.subnavbar > .buttons-row {
    height: 100%;
}

.subnavbar .button {
    color: white !important;
    padding: 0 !important;
    font-size: 15px !important;
    height: 100%;
    line-height: 42px;
    border: 1px solid white;
}

.tabs > .page-content, .tabs > .page-content > .content-block {
    padding: 0 !important;
    margin: 0 !important;
}

.swipeout-overswipe {
    background-color: #8a9bdb !important;
}

/* The Modal (background) */

.custom-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

.custom-start-modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #302f2f;
    /* Black w/ opacity */

    -webkit-animation: fadeInFromNone 1s ease-out;
    -webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
    animation: fadeInFromNone 1s ease-out;
    animation-delay: 4s;
}

/* Modal Content (image) */

.custom-modal-content {
    width: 80%;
    position: absolute;
    left: 10%;
}

.custom-start-modal-content {
    width: 68%;
    position: absolute;
    left: 16%;
    color: white;
    font-size: 5.5vw;
    top: 46vh; 
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.custom-modal-content, .end-board-message, 
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}