.profile-pic {
  position: relative;
  top: 5vh;
}

.profile-pic img {
  height: 20vh;
  margin: 0 auto;
  display: block;
}

.nickname {
  position: relative;
  top: 4vh;
  text-align: center;
  font-size: 3vh;
}

[data-page=index] .profile-pic {
  top: 10vh;
}

[data-page=index] .nickname {
  top: 10vh;
  margin-bottom: 15vh;
}

.hide {
  display: none;
}

.list-block .item-inner:after {
  display: none;
}

#login-form {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  text-align: center;
}

#login-form>ul {
  border: 1px solid #ddd;
}

#login-form .item-content:nth-of-type(1) {
  height: 8vh;
  border-bottom: 1px solid #ddd;
}

#login-form .item-content:nth-of-type(2) {
  height: 8vh;
}

#login-form .item-inner {
  width: 65vw;
}

.forget-pw {
  line-height: 48px;
  font-size: 15px;
  font-weight: bold;
  color: #6c7b8a;
}

.page-btn {
  display: table;
  border-spacing: 0 20px;
  position: absolute;
  top: 47vh;
  width: 85vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.page-btn>div {
  display: table-row;
}

.page-btn>div>div {
  display: table-cell;
  text-align: center;
}

.page-btn img {
  width: 55%;
}

#register-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#register-btn img {
  height: 3vh
}

#register-form {
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  top: 20vh;
}

#register-form>ul {
  border: 1px solid #ddd;
}

#register-form .item-content:nth-of-type(1) {
  height: 8vh;
  border-bottom: 1px solid #ddd;
}

#register-form .item-content:nth-of-type(2) {
  height: 8vh;
  border-bottom: 1px solid #ddd;
}

#register-form .item-content:nth-of-type(3) {
  height: 8vh;
}

#register-form .item-inner {
  width: 65vw;
}

#map {
  width: 100%;
  height: 100%;
}

#map-filter {
  display: none;
  z-index: 2;
  position: absolute;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 20vh;
  width: 80vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#map-filter>img {
  width: 80vw;
  position: absolute;
}

.filter-table {
  display: table;
  position: relative;
  top: 7vh;
  left: 15vw;
}

.filter-table div {
  display: table-row;
  height: 10vh;
}

.filter-table img {
  width: 6vw;
  position: relative;
  top: 3vh;
}

.filter-table span {
  position: relative;
  left: 3vw;
  font-size: 4.5vw;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
}

.filter-added {
  text-decoration: line-through;
  color: grey !important;
}

.marker-info {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 0px;
  background-image: url('../img/markers/marker_info_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 25vh;
}

.marker-info span {
  position: absolute;
  color: white;
}

.marker-info span:nth-of-type(1) {
  left: 45%;
  top: 27%;
  font-size: 3.5vmin;
  letter-spacing: 1.5px;
}

.marker-info span:nth-of-type(2) {
  left: 45%;
  top: 45%;
  font-size: 4.5vmin;
  letter-spacing: 1.5px;
}

.marker-info span:nth-of-type(3) {
  bottom: 10%;
  right: 5%;
  font-size: 4vmin;
}

#marker-img {
  position: absolute;
  top: 27%;
  left: 23%;
  transform: translate(-50%, 0);
  height: 60%;
  max-width: 35%;
}

.marker-favorite {
  position: absolute;
  top: 27%;
  right: 7%;
  font-size: 25px !important;
}

#bluetooth-warn {
  background-color: black;
  background-image: none;
}

#bluetooth-warn span {
  margin: 0 auto;
  font-size: 14px;
}

.login-form-to-json {
  margin-top: 2vh;
  height: 8vh;
  width: 100%;
  background-image: url('../img/long_btn_bg.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 8vh;
  color: white;
  font-size: 3vh;
}

.popup-register {
  background-image: url('../img/welcome_bg.png');
  background-size: 100% 100%;
}

.register-form-to-json {
  margin-top: 2vh;
  height: 10vh;
  width: 100%;
  background-image: url('../img/long_btn_bg.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 10vh;
  color: white;
  font-size: 3vh;
}

.level-and-money {
  position: relative;
  top: 5vh;
  display: table;
  margin: auto;
}

.level-and-money div {
  display: table-row;
}

.level-and-money img {
  display: table-cell;
  margin: auto;
  height: 4vh;
  padding: 2vh 0;
}

.level-and-money span {
  display: table-cell;
  color: #6c7b8a;
  font-weight: bold;
  font-size: 4.6vmin;
  letter-spacing: 2px;
  vertical-align: middle;
  padding-left: 10px;
}

.collection-text {
  position: absolute;
  left: 50%;
  bottom: 29vh;
  transform: translate(-50%, 0);
  text-align: center;
  color: #6c7b8a;
  font-weight: bold;
  font-size: 4.6vmin;
}

.collections {
  border: 1px solid;
  border-color: rgba(39, 53, 160, 0.25);
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translate(-50%, 0);
  width: 51vh;
  height: 25vh;
  overflow: scroll;
}

.collections div {
  position: relative;
  display: inline-block;
  height: 12vh;
  width: 12vh;
  margin: 0 1.5px;
  box-shadow: 3px 3px 6px 0px rgba(39, 53, 160, 0.18);
}

.collections div img {
  position: absolute;
  display: block;
  max-height: 80%;
  max-width: 70%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* wen */

body {
  font-family: Microsoft JhengHei;
  letter-spacing: 2px;
}

.card-title {
  font-size: 5.3vw;
  padding: 6px;
  font-weight: bold; 
  margin-top: -1.5vh;
}

.navbar, .subnavbar {
  background-image: url('../img/navbar_bg.png');
  background-size: cover;
  color: white;
}

.navbar span, .navbar .f7-icons {
  color: white;
}

.toolbar {
  background: rgba(0, 0, 0, 0.88) !important;
  height: 9.5vh;
}

.toolbar-text {
  font-size: 20px !important;
  color: white;
  font-family: Microsoft JhengHei;
  letter-spacing: 3px;
}

.toolbar-inner>.button {
  border: initial;
}

.toolbar-text>.toolbar-icon {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  font-size: 22px;
  display: inline-flex;
}

.center {
  text-align: center;
}

.high-button {
  height: 48vh !important;
  margin-top: 5vh;
  margin-bottom: -3vh;
}


/*  index.html  */

.themePark, .routeButtonList {
  display: table-row;
}

.routeButtonList {
  height: 100%;
}

.routeButtonList > div {
  background-image: url('../img/recommend-button.png');
  background-size: 100% 100%;
  height: 49.5%;
  position: relative;
}

#themeRouteBtn > div , #customRouteBtn > div {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translate(0,-50%);
  font-size: 6vw;
  font-weight: bold;
}

.heartIcon {
  width: 17%;
  vertical-align: middle;
}

/*  themeRoute.html  */

.big-card {
  width: 100%;
  padding: initial;
  margin: 0 auto;
}


/*  customRoute.html  */

.favorite-cards {
  width: 100%;
  padding: initial;
  margin: 0 auto;
}

.swipeout>.card {
  margin: 2px !important;
}

.swipeout-actions-right {
  height: 97% !important;
  top: 2% !important;
}

.favorite-cards>.list-block {
  margin: 0px;
}

.favorite-tab {
  text-align: center;
  color: white;
  width: 100%;
}

.list-block .swipeout-actions-right a.swipeout-delete {
  background: #8a9bdb !important;
}

/* routeDetail.html  */

.accordion-item>.item-link {
  padding-left: 0;
  background-image: url('../img/accordion-bar.png');
  background-size: cover;
}

.accordion-item>.item-content {
  padding-left: 0;
  background-image: url('../img/accordion-time-bar.png');
  background-size: cover;
}

.accordion-item>.item-link>.item-inner {
  padding-right: 0px;
  background-image: initial;
}

.accordion-item>.item-link>.item-inner>.item-title,
.accordion-item>.item-content>.item-inner>.item-title {
  margin: 0 auto;
  color: white;
}

.content-block>.content-block>.content-block-inner>p {
  margin: 0.3em 0;
}

.title-img {
  width: 100%;
}


/*  gamePage.html  */

.level>p>span,
.reward>span {
  color: white;
  font-weight: bold;
}

.options {
  margin-top: 4vh;
  text-align: center;
}

.options>.button {
  height: 10vh;
  line-height: 9.5vh;
  margin-top: 1.5vh;
  color: black;
  font-size: 3.6vh;
  font-weight: bold;

  background-image: url('../img/answer-button.png');
  background-size: 100% 100%;
}

.level>p>span {
  display: inline-block !important;
  vertical-align: middle;
  font-size: 2.4vh;
}

.level>p>.progressbar {
  width: 20vw;
  height: 1.6vh;
  margin-left: 8px;
}

.progressbar span {
  background: #d8427a !important;
}

.question {
  height: 16vh;
  margin: 0 auto;
  margin-top: 4vh;
  background-color: white;
  width: 100%;
  font-weight: bold;
  color: black;
}

.answer > svg {
  width: 6vh;
  display: inline-block;
  margin-top: 2vh;
  position: absolute;
  right: 10px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-width:7.5;
}

.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
      stroke-dashoffset: 1000;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
      stroke-dashoffset: 1000;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
      stroke-dashoffset: -100;
  }
  100% {
      stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
      stroke-dashoffset: -100;
  }
  100% {
      stroke-dashoffset: 900;
  }
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 2.6s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

.loading span:nth-child(4) {
  animation-delay: .6s;
}

.loading span:nth-child(5) {
  animation-delay: .8s;
}

.loading span:nth-child(6) {
  animation-delay: 1s;
}

.loading span:nth-child(7) {
  animation-delay: 1.2s;
}

.loading span:nth-child(8) {
  animation-delay: 1.4s;
}

.loading span:nth-child(9) {
  animation-delay: 1.6s;
}

.loading span:nth-child(10) {
  animation-delay: 1.8s;
}

.loading span:nth-child(11) {
  animation-delay: 2.0s;
}

/*  themeSite.html  */
.button.active {
  background: none;
}

.subnavbar {
  padding: 0;
}

.subnavbar > .buttons-row {
  height: 100%;
}

.subnavbar .button {
  color: white !important;
  padding: 0 !important;
  font-size: 15px !important;
  height: 100%;
  line-height: 42px;
  border: 1px solid white;
}

.tabs > .page-content, .tabs > .page-content > .content-block {
  padding: 0 !important;
  margin: 0 !important;
}

.swipeout-overswipe {
  background-color: #8a9bdb !important;
}

/* The Modal (background) */

.custom-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.custom-start-modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #302f2f;
  /* Black w/ opacity */

  -webkit-animation: fadeInFromNone 1s ease-out;
  -webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
  animation: fadeInFromNone 1s ease-out;
  animation-delay: 4s;
}

.custom-money-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content (image) */

.custom-modal-content {
  width: 80%;
  position: absolute;
  left: 10%;
  top: calc(22px + 50%);
  margin-top: -48vw;
}

.custom-money-content {
  width: 100%;
  position: absolute;
  top: calc(22px + 50%);
  margin-top: -33.7vw;
}

.custom-start-modal-content {
  width: 68%;
  position: absolute;
  left: 16%;
  color: white;
  font-size: 5.5vw;
  top: 46vh; 
}

.custom-money-modal-content {
  width: 80%;
  position: absolute;
  left: 10%;
  color: white;
  font-size: 5.5vw;
  top: 46vh; 

  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.height100 {
  height: 100%;
}

.skeleton-screen:empty {
margin: auto;
width: 100%;
height: 100%;
  
background-image:
radial-gradient( circle 13vw at 15vw 13vw, lightgray 99%, transparent 0 ),
linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
linear-gradient( lightgray 5.7vw, transparent 0 ),
linear-gradient( lightgray 5.7vw, transparent 0 ),
linear-gradient( lightgray 5.7vw, transparent 0 );

background-repeat: repeat-y;

background-size:
35vw 38vw, /* circle */
50px 38vw, /* highlight */
35vw 38vw,
65vw 38vw,
50vw 38vw;

background-position:
0 6vw, /* circle */
0 5vw, /* highlight */
33vw 5vw,
33vw 16vw,
33vw 27vw;

animation: shine 1s infinite;
}

@keyframes shine {
to {
  background-position:
    0 6vw,
    100% 5vw, /* move highlight to right */
    33vw 5vw,
    33vw 16vw,
    33vw 27vw;
}
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
      display: block;
      opacity: 1;
  }

  1% {
      display: block;
      opacity: 1;
  }

  100% {
      display: none;
      opacity: 0;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: block;
      opacity: 1;
  }

  1% {
      display: block;
      opacity: 1;
  }

  100% {
      display: none;
      opacity: 0;
  }
}

/* Caption of Modal Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Add Animation */

.custom-modal-content, .end-board-message, 
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
      -webkit-transform: scale(0)
  }
  to {
      -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
      transform: scale(0)
  }
  to {
      transform: scale(1)
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}