/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
  background: pink;
}

.profile-pic {
  position: relative;
  top: 5vh;
}

.profile-pic img {
  height: 20vh;
  margin: 0 auto;
  display: block;
}

.nickname {
  position: relative;
  top: 4vh;
  text-align: center;
  font-size: 3vh;
}

[data-page=index] .profile-pic {
  top: 10vh;
}

[data-page=index] .nickname {
  top: 10vh;
  margin-bottom: 15vh;
}

.hide {
  display: none;
}

.list-block .item-inner:after {
  display: none;
}

#login-form {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  text-align: center;
}

#login-form>ul {
  border: 1px solid #ddd;
}

#login-form .item-content:nth-of-type(1) {
  height: 8vh;
  border-bottom: 1px solid #ddd;
}

#login-form .item-content:nth-of-type(2) {
  height: 8vh;
}

#login-form .item-inner {
  width: 65vw;
}

.forget-pw {
  line-height: 48px;
  font-size: 15px;
  font-weight: bold;
  color: #6c7b8a;
}

.page-btn {
  display: table;
  border-spacing: 0 20px;
  position: absolute;
  top: 47vh;
  width: 85vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.page-btn>div {
  display: table-row;
}

.page-btn>div>div {
  display: table-cell;
  text-align: center;
}

.page-btn img {
  width: 55%;
}

#register-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#register-btn img {
  height: 3vh
}

#register-form {
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  top: 20vh;
}

#register-form>ul {
  border: 1px solid #ddd;
}

#register-form .item-content:nth-of-type(1) {
  height: 8vh;
  border-bottom: 1px solid #ddd;
}

#register-form .item-content:nth-of-type(2) {
  height: 8vh;
  border-bottom: 1px solid #ddd;
}

#register-form .item-content:nth-of-type(3) {
  height: 8vh;
}

#register-form .item-inner {
  width: 65vw;
}

#map {
  width: 100%;
  height: 100%;
}

#map-filter {
  display: none;
  z-index: 2;
  position: absolute;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 20vh;
  width: 80vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#map-filter>img {
  width: 80vw;
  position: absolute;
}

.filter-table {
  display: table;
  position: relative;
  top: 7vh;
  left: 15vw;
}

.filter-table div {
  display: table-row;
  height: 10vh;
}

.filter-table img {
  width: 6vw;
  position: relative;
  top: 3vh;
}

.filter-table span {
  position: relative;
  left: 3vw;
  font-size: 4.5vw;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
}

.filter-added {
  text-decoration: line-through;
  color: grey !important;
}

.marker-info {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 0px;
  background-image: url('../img/markers/marker_info_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 25vh;
}

.marker-info span {
  position: absolute;
  color: white;
}

.marker-info span:nth-of-type(1) {
  left: 45%;
  top: 27%;
  font-size: 3.5vmin;
  letter-spacing: 1.5px;
}

.marker-info span:nth-of-type(2) {
  left: 45%;
  top: 45%;
  font-size: 4.5vmin;
  letter-spacing: 1.5px;
}

.marker-info span:nth-of-type(3) {
  bottom: 10%;
  right: 5%;
  font-size: 4vmin;
}

#marker-img {
  position: absolute;
  top: 27%;
  left: 23%;
  transform: translate(-50%, 0);
  height: 60%;
  max-width: 35%;
}

.marker-favorite {
  position: absolute;
  top: 27%;
  right: 7%;
  font-size: 25px !important;
}

#bluetooth-warn {
  background-color: black;
  background-image: none;
}

#bluetooth-warn span {
  margin: 0 auto;
  font-size: 14px;
}

.login-form-to-json {
  margin-top: 2vh;
  height: 8vh;
  width: 100%;
  background-image: url('../img/long_btn_bg.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 8vh;
  color: white;
  font-size: 3vh;
}

.popup-register {
  background-image: url('../img/welcome_bg.png');
  background-size: 100% 100%;
}

.register-form-to-json {
  margin-top: 2vh;
  height: 10vh;
  width: 100%;
  background-image: url('../img/long_btn_bg.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 10vh;
  color: white;
  font-size: 3vh;
}

.level-and-money {
  position: relative;
  top: 5vh;
  display: table;
  margin: auto;
}

.level-and-money div {
  display: table-row;
}

.level-and-money img {
  display: table-cell;
  margin: auto;
  height: 4vh;
  padding: 2vh 0;
}

.level-and-money span {
  display: table-cell;
  color: #6c7b8a;
  font-weight: bold;
  font-size: 4.6vmin;
  letter-spacing: 2px;
  vertical-align: middle;
  padding-left: 10px;
}

.collection-text {
  position: absolute;
  left: 50%;
  bottom: 29vh;
  transform: translate(-50%, 0);
  text-align: center;
  color: #6c7b8a;
  font-weight: bold;
  font-size: 4.6vmin;
}

.collections {
  border: 1px solid;
  border-color: rgba(39, 53, 160, 0.25);
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translate(-50%, 0);
  width: 51vh;
  height: 25vh;
  overflow: scroll;
}

.collections div {
  position: relative;
  display: inline-block;
  height: 12vh;
  width: 12vh;
  margin: 0 1.5px;
  box-shadow: 3px 3px 6px 0px rgba(39, 53, 160, 0.18);
}

.collections div img {
  position: absolute;
  display: block;
  max-height: 80%;
  max-width: 70%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
